<li>
  <%= link_to user do %>
    <%= gravatar_for user %>
    <%= user.name %>
  <% end %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>
